.form-control {
	margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
	display: block;
}

.form-control label {
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.form-control input,
.form-control textarea {
	width: 100%;
	padding: 0.15rem 0.25rem;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	font: inherit;
}

.form-control input:focus,
.form-control textarea:focus {
	background-color: #ebebeb;
	border-color: #510077;
	outline: none;
}

.form-control--invalid label,
.form-control--invalid p {
	color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
	background-color: #ffd1d1;
	border-color: red;
}

