.user-list-item {
	width: calc(45% - 2rem);
	min-width: 17.5rem;
	margin: 1rem;
}

.user-list-item a {
	width: 100%;
	height: 100%;
	padding: 1rem;
	display: flex;
	align-items: center;
	color: white;
	background-color: #292929;
	text-decoration: none;
}

.user-list-item:hover a,
.user-list-item:active a {
	background-color: #ffd900;
}

.user-list-item__image {
	width: 4rem;
	height: 4rem;
	margin-right: 1rem;
}

.user-list-item__info h2 {
	margin: 0 0 0.5rem 0;
	color: #ffd900;
	font-size: 1.5rem;
	font-weight: normal;
}

.user-list-item:hover h2,
.user-list-item:active h2,
.user-list-item:hover h3,
.user-list-item:active h3 {
	color: #292929;
}

.user-list-item__info h3 {
	margin: 0;
}
