@use "../../styles/core" as *;

.drawer {
	width: 70%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	z-index: $z-index-drawer;

	&__nav {
		height: 100%;
	}
}
