.header {
	width: 100%;
	height: 4rem;
	padding: 0 1rem;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	background-color: #ff0055;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
	z-index: 5;
}

main {
	margin-top: 5rem;
}

.header__menu-btn {
	width: 3rem;
	height: 3rem;
	background: transparent;
	border: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-right: 2rem;
	cursor: pointer;
}

.header__menu-btn span {
	display: block;
	width: 3rem;
	height: 2.5px;
	background: white;
}

.header__title {
	color: white;
}

.header__title a {
	text-decoration: none;
	color: white;
}

@media (min-width: 768px) {
	.header {
		justify-content: space-between;
	}

	.header__menu-btn {
		display: none;
	}
}

