@use "../../styles/core" as *;

.nav-items {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
	@include desktop-or-bigger {
		flex-direction: row;
	}

	&__li {
		margin: 1rem;
		@include desktop-or-bigger {
			margin: 0 0.5rem;
		}
	}

	&__item {
		padding: 0.5rem;
		color: $color-elevated;
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: 6px;
		text-decoration: none;
		font: inherit;
		cursor: pointer;
		@include desktop-or-bigger {
			color: white;
		}
	}
	&__item:focus {
		outline: none;
	}
	&__item:hover,
	&__item:active {
		color: white;
		background-color: $color-elevated;
	}
	// &__item.active,
	// &__item.active:hover,
	// &__item.active:active {
	&__item.active {
		color: $color-elevated;
		background-color: $color-accent2;
	}
}
